/* update CSS ctrl + shift + r */


body {
    padding: 0px;
    margin: 0px;
}

div.heading {
    background-color: #258CA5;
    padding-top: 50px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
	height: 80px;
}

div.top {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    color: grey;
    text-align: center;
    letter-spacing: 2px;
}

div.middle {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
	min-height: 270px;
}

div.bottom {
    background-color: #258CA5;
    padding-top: 120px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 2px;
    color: black;
}

div.search {
	min-width: 600px;
    background-color: lightgray;
    padding: 30px;
    text-align: left;
    font-size: 12px;
    letter-spacing: 2px;
    color: black;
}

table.showbox {
	border-spacing: 0px 0px;
	border: 1px solid black;
	background-color: white;
	width: 800px;
}

table.searchbox {
	border-spacing: 0px 0px;
	background-color: lightgray;
	width: 800px;
}

table.account_title {
	border-spacing: 0px 0px;
	width: 800px;
}

td.account_title_left {
	font-size: 22px;
	text-align: left;
	padding-bottom:15px;
	vertical-align: bottom;
}

td.account_title_right {
	font-size: 12px;
	text-align: right;
	vertical-align: text-top;
	padding-bottom:15px;
}

td.left {
	width: 200px;
	padding: 20px;
}

div.image_not_found {
	height: 200px;
	width: 200px;
	background-image: url("/static/images/petsitter2.jpg");	
	background-repeat: no-repeat;
}

div.image_avatar {
	height: 80px;
	width: 80px;
	background-image: url("/static/images/petsitter1.jpg");	
	background-repeat: no-repeat;
}

div.image_side_by_side {
	height: 200px;
	width: 200px;
	background-image: url("/static/images/petsitter2.jpg");	
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: top;
}

td.petsittername {
	text-align: left;
	font-size: 24px;
	color: black;
	padding: 10px;
	height: 50px;
}

td.location {
	text-align: left;
	font-size: 12px;
	color: black;
	padding: 10px;
	height: 10px;
}

td.description {
	text-align: left;
	font-size: 12px;
	color: black;
	padding-top: 10px;
	padding-left: 10px;
	vertical-align: text-top;
	height: 80px;
}

td.price {
	text-align: right;
	font-size: 18px;
	color: black;
	vertical-align: text-top;
	padding-top: 10px;
	padding-right: 10px;
}

td.button {
	text-align: right;
	font-size: 18px;
	color: black;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 150px;
}

button.moredetails {
    font-size: 14;
	border-radius: 8px;
	outline: none;
    border: none;
    width: 120px;
    height: 30px;
	cursor: pointer;
    background-color: lightgray;
    text-decoration:none;
    color: black;
}

button.moredetails:hover {
	background-color: gray;
    color: white;
}

table.viewpetbnb {
	border-spacing: 0px 0px;
	border: 1px solid black;
	background-color: white;
	width: 800px;
}

td.viewpetsitterphoto {
	padding: 30px;
	text-align: left;
	width: 80px;
	height: 80px;
}

td.viewpetsittername {
	vertical-align: text-top;
	text-align: left;
	font-size: 24px;
	color: black;
	padding-top: 30px;
	height: 30px;
}

td.viewpetbnblocation {
	vertical-align: text-top;
	text-align: left;
	font-size: 14px;
	color: black;
	height: 20px;
}

td.viewpetbnbprice {
	vertical-align: text-top;
	text-align: left;
	font-size: 18px;
	color: black;
}

td.viewpetbnbphoto {
	padding-bottom: 30px;
	text-align: center;
}

td.viewpetbnbtext {
	vertical-align: text-top;
	text-align: left;
	font-size: 16px;
	color: black;
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
}

td.viewpetbnbbutton {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

button.make_reservation {
    font-size: 14;
	border-radius: 8px;
	outline: none;
    border: none;
    width: 200px;
    height: 80px;
	cursor: pointer;
    background-color: lightgray;
    text-decoration:none;
    color: black;
	
}

button.make_reservation:hover {
	background-color: gray;
    color: white;
}

td.makebooking_photo {
	padding: 30px;
	text-align: left;
	width: 80px;
	height: 80px;
}

td.makebooking_petsittername {
	vertical-align: text-top;
	text-align: left;
	font-size: 24px;
	color: black;
	padding-top: 30px;
	height: 30px;
}

td.makebooking_location {
	vertical-align: text-top;
	text-align: left;
	font-size: 14px;
	color: black;
	height: 20px;
}

td.makebooking_price {
	vertical-align: text-top;
	text-align: left;
	font-size: 18px;
	color: black;
}

td.makebooking_form {
	vertical-align: text-top;
	text-align: left;
	padding-left: 80px;
	color: black;
	font-size: 14px;
}

td.makebooking_button {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

input.makebooking_submit {
	font-size: 14;
	border-radius: 8px;
	outline: none;
    border: none;
    width: 200px;
    height: 80px;
	cursor: pointer;
    background-color: lightgray;
    text-decoration:none;
    color: black;
}

input.makebooking_submit:hover {
	background-color: gray;
    color: white;
}

td.confirmbooking_photo {
	padding: 30px;
	text-align: left;
	width: 80px;
	height: 80px;
}

td.confirmbooking_petsittername {
	vertical-align: text-top;
	text-align: left;
	font-size: 30px;
	color: black;
	padding-top: 45px;
}

td.confirmbooking_location {
	vertical-align: text-top;
	text-align: left;
	font-size: 14px;
	color: black;
	height: 70px;
}

td.confirmbooking_details {
	vertical-align: text-top;
	text-align: left;
	font-size: 18px;
	padding-left: 80px;
	padding-right: 80px;
	color: black;
	line-height: 1.6;
}

td.confirmbooking_price {
	vertical-align: text-top;
	text-align: left;
	font-size: 30px;
	padding-left: 80px;
	padding-bottom: 30px;
	color: black;
	line-height: 1.6;
}

td.confirmbooking_payment {
	vertical-align: text-top;
	text-align: left;
	padding-left: 80px;
	color: black;
	font-size: 18px;
	line-height: 2;
}

td.confirmbooking_button {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

input.confirmbooking_submit {
	font-size: 14;
	border-radius: 8px;
	outline: none;
    border: none;
    width: 200px;
    height: 80px;
	cursor: pointer;
    background-color: lightgray;
    text-decoration:none;
    color: black;
}

input.confirmbooking_submit:hover {
	background-color: gray;
    color: white;
}

td.completebooking_review {
	vertical-align: text-top;
	padding-top: 50px;
	text-align: left;
	padding-left: 80px;
	color: black;
	font-size: 14px;
	line-height: 3;
}


input.signup_submit {
	font-size: 14;
	border-radius: 8px;
	outline: none;
    border: none;
    width: 140px;
    height: 60px;
	cursor: pointer;
    background-color: lightgray;
    text-decoration:none;
    color: black;
}

input.signup_submit:hover {
	background-color: gray;
    color: white;
}

td.completebooking_button {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

textarea.completebooking_textarea {
	margin: 5px;
    border: 0px;
    resize: none;
    font-size: 14px;
    color: black;
    background-color: #FFFFFF;
}

button.completebooking_print {
	font-size: 14;
	border-radius: 8px;
	outline: none;
    border: none;
    width: 200px;
    height: 80px;
	cursor: pointer;
    background-color: lightgray;
    text-decoration:none;
    color: black;
}

button.completebooking_print:hover {
	background-color: gray;
    color: white;
}

td.viewaccount_customer {
	vertical-align: text-top;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 30px;
	text-align: left;
	
	color: black;
	font-size: 14px;
	line-height: 2;
}

td.viewaccount_booking {
	vertical-align: text-top;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 30px;
	text-align: left;
	
	color: black;
	font-size: 14px;
	line-height: 2;
}

td.viewaccount_price {
	vertical-align: text-top;
	padding-top: 15px;
	padding-right: 15px;
	text-align: right;
	color: black;
	font-size: 20px;
}

td.viewaccount_button_space {
	vertical-align: bottom;
	padding-right: 15px;
	padding-bottom: 15px;
	text-align: right;
}

td.signup_left {
	padding-top: 30px;
	text-align: right;
	line-height: 3;
	color: black;
	font-size: 14px;
}

td.signup_right {
	padding-top: 30px;
	text-align: left;
	line-height: 3;
	color: black;
	font-size: 14px;
}

td.boxtopic {
	padding-top: 30px;
	padding-left: 30px;
	text-align: left;
	color: black;
	font-size: 20px;
	line-height: 3;
}

td.upload_box {
	padding-top: 30px;
	text-align: center;
	color: black;
	font-size: 20px;
}

td.signuppetsitter_form {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 150px;
	text-align: left;
	color: black;
	font-size: 20px;
	line-height: 1.5;
}

td.topic {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	color: black;
	font-size: 25px;
	line-height: 3;
}

button.viewaccount_button {
	font-size: 14;
	border-radius: 8px;
	outline: none;
    border: none;
    width: 120px;
    height: 30px;
	cursor: pointer;
    background-color: lightgray;
    text-decoration:none;
    color: black;
}

button.viewaccount_button:hover {
	background-color: gray;
    color: white;
}

td.viewbooking_details {
	vertical-align: text-top;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 30px;
	text-align: left;
	
	color: black;
	font-size: 18px;
	line-height: 2;
}


td.viewbooking_print {
	vertical-align: bottom;
	padding-bottom: 30px;
	text-align: center;
}

td.search_top {
	padding-bottom: 15px;
	text-align: left;
	color: black;
	font-size: 20px;
}

td.search_left {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: right;
	color: black;
	font-size: 14px;
}

td.search_right {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	color: black;
	font-size: 14px;
}

td.search_bottom {
	padding-top: 15px;
	text-align: center;
}

input.search_button {
	font-size: 30;
	border-radius: 8px;
	outline: none;
    border: none;
    width: 140px;
    height: 40px;
	cursor: pointer;
    background-color: gray;
    text-decoration:none;
    color: white;
}

input.search_button:hover {
	background-color: black;
    color: white;
}


button.viewbooking_button {
	font-size: 14;
	border-radius: 8px;
	outline: none;
    border: none;
    width: 200px;
    height: 80px;
	cursor: pointer;
    background-color: lightgray;
    text-decoration:none;
    color: black;
}

button.viewbooking_button:hover {
	background-color: gray;
    color: white;
}

button.cancel {
	font-size: 14;
	border-radius: 8px;
	outline: none;
    border: none;
    width: 150px;
    height: 40px;
	cursor: pointer;
    background-color: #ff99cc;
    text-decoration:none;
    color: black;
}

button.cancel:hover {
	background-color: red;
    color: white;
}

button.confirm {
	font-size: 14;
	border-radius: 8px;
	outline: none;
    border: none;
    width: 150px;
    height: 40px;
	cursor: pointer;
    background-color: #66ccff;
    text-decoration:none;
    color: black;
}

button.confirm:hover {
	background-color: blue;
    color: white;
}

button.complete {
	font-size: 14;
	border-radius: 8px;
	outline: none;
    border: none;
    width: 150px;
    height: 40px;
	cursor: pointer;
    background-color: #ccffcc;
    text-decoration:none;
    color: black;
}

button.complete:hover {
	background-color: green;
    color: white;
}

td.searchbox_top {
	padding-top: 30px;
	padding-left: 50px;
	padding-bottom: 15px;
	text-align: left;
	color: black;
	font-size: 20px;
}

td.searchbox_left {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: right;
	color: black;
	font-size: 14px;
}

td.searchbox_right {
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: left;
	color: black;
	font-size: 14px;
}

td.searchbox_bottom {
	padding-top: 15px;
	padding-bottom: 30px;
	text-align: center;
}

div.error {
	padding-top: 100px;
	padding-bottom: 80px;
	text-align: center;
	color: black;
	font-size: 40px;
}