{% extends "base.html" %}

{% block the_content %}
<script>
			function myFunction(){
				if(document.getElementById("numofpet").value == "2")
				{
					$("#pettype2").show();
					$("#pettype3").hide(); 
					$("#pettype4").hide(); 
				}
				else if(document.getElementById("numofpet").value == "3")
				{
					$("#pettype2").show();
					$("#pettype3").show();
					$("#pettype4").hide();
				}
				else if(document.getElementById("numofpet").value == "4")
				{
					$("#pettype2").show();
					$("#pettype3").show();
					$("#pettype4").show();
				}
				else
				{
					$("#pettype2").hide(); 
					$("#pettype3").hide(); 
					$("#pettype4").hide(); 
				}
			};
</script>

<div>

<table class="warning">
	<tr>
		<td>
			<img src="/static/images/warning.png" width="800" height="100" class="warning">
		</td>
	</tr>
</table>

<form method="POST" action="/searchform">
<table class="searchbox">
	<tr>
		<td colspan="2" class="search_top">
		I'm looking for
		</td>
	</tr>
    <tr>
        <td class="search_left">
		<label>Country: </label>
		</td>
		<td class="search_right">
		<select id="country" name="country" class="selectbox">
		<option value="Ireland">Ireland</option>
		<option value="United Kingdom" disabled>United Kingdom</option>
		</select>
		</td>
    </tr>
	<tr>
		<td class="search_left">
		<label>Location: </label>
		</td>
		<td class="search_right">
		<input type="text" id="location" name="location" placeholder="Location or Pet Sitter" class="searchfield">
		</td>
	</td>
	<tr>
		<td class="search_left">
		<label>Number of Pet: </label>
		</td>
		<td class="search_right">
			<select id="numofpet" name="numofpet" onchange="myFunction()" class="selectbox">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4+</option>
			</select>	
		</td>
	</tr>
	<tr>
		<td class="search_left">
		<label>Type of Pet:</label>
		</td>
		<td class="search_right">
		
			<select id="pettype1" name="pettype1" class="selectbox">
			<option value="">Any</option>
			{% for row in pettype %}
			<option value="{{ row }}">{{ row }}</option>
			{% endfor %}
			</select>
			
			<select id="pettype2" name="pettype2" style="display:none;" class="selectbox">
			<option value="">None</option>
			{% for row in pettype %}
			<option value="{{ row }}">{{ row }}</option>
			{% endfor %}
			</select>
			
			<select id="pettype3" name="pettype3" style="display:none;" class="selectbox">
			<option value="">None</option>
			{% for row in pettype %}
			<option value="{{ row }}">{{ row }}</option>
			{% endfor %}
			</select>
			
			<select id="pettype4" name="pettype4" style="display:none;" class="selectbox">
			<option value="">None</option>
			{% for row in pettype %}
			<option value="{{ row }}">{{ row }}</option>
			{% endfor %}
			</select>
		</td>
	</td>
	<tr>
		<td colspan="2" class="search_bottom">
		<input type="submit" value="Search" class="search_button">
		</td>
	</tr>
</table>
</form>

<table class="example">
	<tr>
		<td>
			<img src="/static/images/content1.png" width="800" height="294">
		</td>
	</tr>
</table>

<table class="example">
	<tr>
		<td>
			<img src="/static/images/content2.png" width="800" height="632">
		</td>
	</tr>
</table>
</div>
{% endblock %}