{% extends "base.html" %}

{% block the_content %}
<div class="search">
<form>
<table>
    <tr>
        <td>
		
		<select id="country" name="country">
		<option value="none" disabled selected>Country</option>
		<option value="ireland">Ireland</option>
		<option value="uk">UK</option>
		</select>
		
		<input type="text" id="location" name="location" placeholder="Location" required>
		
		</td>
    </tr>
	<tr>
		<td>
		<input type="date" id="checkin" name="checkin" min="2021-04-22" max="2023-12-31">
		<input type="number" id="night" name="night" value="1" min="1" max="360">
		</td>
	</tr>
	<tr>
		<td>
		
		<select id="petnum" name="petnum">
		<option value="none" disabled selected>Number of Pet</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		</select>
		
		<select id="pettype" name="pettype">
		<option value="none" disabled selected>Pet Type</option>
		<option value="dog">Dog</option>
		<option value="cat">Cat</option>
		<option value="other">Other</option>
		</select>
		
		
		</td>
	</tr>
	<tr>
		<td>
		<input type="button" value="Search">
		<input type="reset" value="Clear">
		</td>
	</tr>
</table>
</form>
</div>
{% endblock %}