{% extends "base.html" %}

{% block the_content %}
<script>
$(document).ready(function () {
    $('#checkBtn').click(function() {
      checked = $("input[type=checkbox]:checked").length;
      if(!checked) {
        alert("type of pet at least check one");
        return false;
      }
    });
});
</script>
<div>
<form method="POST" action="/makebookingform/{{ data[0][2] }}">
<table class = "makebookingbox">
	<tr>
		<td class="signup_topic">
			<div class="topic_div">Make a new booking</div>
		</td>
	</tr>
	<tr>
		<td class="makebooking_petsittername">{{ data[0][2] }}</td>
	</tr>
	<tr>
		<td class="makebooking_location">Location: {{ data[0][8] }},{{ data[0][7] }},{{ data[0][6] }},{{ data[0][5] }}</td>
	</tr>
	<tr>
		<td class="makebooking_price" >€{{ data[0][10] }}/per night</td>
	</tr>
    <tr>
        <td class="makebooking_form">
		<label>Title:</label><br>
		<select name="title" id="title">
		{% if session.get('user') and customerdata[0][3] %}	
			{% if "Mrs" in customerdata[0][3] %}
				<option value="Mr">Mr</option>
				<option value="Mrs" selected>Mrs</option>
				<option value="Ms">Ms</option>
				<option value="Miss">Miss</option>
			{% elif "Ms" in customerdata[0][3] %}
				<option value="Mr">Mr</option>
				<option value="Mrs">Mrs</option>
				<option value="Ms" selected>Ms</option>
				<option value="Miss">Miss</option>
			{% elif "Miss" in customerdata[0][3] %}
				<option value="Mr">Mr</option>
				<option value="Mrs">Mrs</option>
				<option value="Ms">Ms</option>
				<option value="Miss" selected>Miss</option>
			{% else %}
				<option value="Mr" selected>Mr</option>
				<option value="Mrs">Mrs</option>
				<option value="Ms">Ms</option>
				<option value="Miss">Miss</option>
			{% endif %}	
		{% else %}
			<option value="Mr">Mr</option>
			<option value="Mrs">Mrs</option>
			<option value="Ms">Ms</option>
			<option value="Miss">Miss</option>
		{% endif %}
		
		</select><br>
		<br>
		<label>First Name:</label><br>
		<input type="text" id="fname" name="fname" value="{{ customerdata[0][1] }}" required><br>
		<br>
		<label>Surname:</label><br>
		<input type="text" id="sname" name="sname" value="{{ customerdata[0][2] }}" required><br>
		<br>
		<label>Contact Email:</label><br>
		<input type="email" id="email" name="email" value="{{ customerdata[0][0] }}" required><br>
		<br>
		<label>Contact Number:</label><br>
		<input type="text" id="phone" name="phone" value="{{ customerdata[0][4] }}"><br>
		<br>
		<label>Please pick the start date of pet service:</label><br>
		<input type="date" id="checkin" name="checkin" value="{{ today }}" min="{{ today }}" max="{{ nextyear}}" required><br>
		<br>
		<label>Please pick the end date of pet service:</label><br>
		<input type="date" id="checkout" name="checkout" value="{{ today }}" min="{{ today }}" max="{{ nextyear}}" required><br>
		<br>
		<label>How many pets do you need to board?</label><br>
		<input type="number" id="numofpets" name="numofpets" value="1" min="1" max="20" value="1"><br>
		<br>
		<label>What type of pet or pets?</label><br>
		{% for row in pettype %}
		<input type="checkbox" id="type{{ row }}" name="type[]" value="{{ row }}">
		<label for="type{{ row }}"> {{ row }}</label><br>
		{% endfor %}
		<br>
		<label>What Name and breed of your pet or pets?</label><br>
		<textarea rows="4" cols="50" id="breed" name="breed" placeholder="pet1: its name, its breed, its gender &#13;&#10;pet2: its name, its breed, its gender&#13;&#10;....."></textarea><br>
		<br>
		<label>Anything else the sitter will need to know? (optional)</label><br>
		<textarea rows="10" cols="50" id="optional" name="optional" placeholder="Your pet's favorite;&#13;&#10;How many feedings a day;&#13;&#10;Its personality;&#13;&#10;...." ></textarea><br>
		<br>
		</td>
    </tr>
	<tr>
		<td class="makebooking_button">
		<input class="makebooking_submit" type="submit" value="Submit" id="checkBtn">
		</td>
	</tr>
</table>
</div>
</form>
{% endblock %}