{% extends "base.html" %}

{% block the_content %}

{% block the_result %}
<script>
			function myFunction(){
				if(document.getElementById("numofpet").value == "2")
				{
					$("#pettype2").show();
					$("#pettype3").hide(); 
					$("#pettype4").hide(); 
				}
				else if(document.getElementById("numofpet").value == "3")
				{
					$("#pettype2").show();
					$("#pettype3").show();
					$("#pettype4").hide();
				}
				else if(document.getElementById("numofpet").value == "4")
				{
					$("#pettype2").show();
					$("#pettype3").show();
					$("#pettype4").show();
				}
				else
				{
					$("#pettype2").hide(); 
					$("#pettype3").hide(); 
					$("#pettype4").hide(); 
				}
			};
</script>

<div>
	<form method="POST" action="/searchform">
<table class="searchbox">
	<tr>
		<td colspan="2" class="search_top">
		I'm looking for
		</td>
	</tr>
    <tr>
        <td class="search_left">
		<label>Country: </label>
		</td>
		<td class="search_right">
		<select id="country" name="country" class="selectbox">
		<option value="Ireland">Ireland</option>
		<option value="United Kingdom" disabled>United Kingdom</option>
		</select>
		</td>
    </tr>
	<tr>
		<td class="search_left">
		<label>Location: </label>
		</td>
		<td class="search_right">
		<input type="text" id="location" name="location" placeholder="Location or Pet Sitter" class="searchfield">
		</td>
	</td>
	<tr>
		<td class="search_left">
		<label>Number of Pet: </label>
		</td>
		<td class="search_right">
			<select id="numofpet" name="numofpet" onchange="myFunction()" class="selectbox">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4+</option>
			</select>	
		</td>
	</tr>
	<tr>
		<td class="search_left">
		<label>Type of Pet:</label>
		</td>
		<td class="search_right">
		
			<select id="pettype1" name="pettype1" class="selectbox">
			<option value="">Any</option>
			{% for row in pettype %}
			<option value="{{ row }}">{{ row }}</option>
			{% endfor %}
			</select>
			
			<select id="pettype2" name="pettype2" style="display:none;" class="selectbox">
			<option value="">None</option>
			{% for row in pettype %}
			<option value="{{ row }}">{{ row }}</option>
			{% endfor %}
			</select>
			
			<select id="pettype3" name="pettype3" style="display:none;" class="selectbox">
			<option value="">None</option>
			{% for row in pettype %}
			<option value="{{ row }}">{{ row }}</option>
			{% endfor %}
			</select>
			
			<select id="pettype4" name="pettype4" style="display:none;" class="selectbox">
			<option value="">None</option>
			{% for row in pettype %}
			<option value="{{ row }}">{{ row }}</option>
			{% endfor %}
			</select>
		</td>
	</td>
	<tr>
		<td colspan="2" class="search_bottom">
		<input type="submit" value="Search" class="search_button">
		</td>
	</tr>
</table>
</form>

<br>

	{% if the_num == 0 %}
		<table class="nofound">
			<tr>
				<td>No suitable search results,<br>please enter other criteria to search again!</td>
			</tr>
		</table>
	{% else %}
		<table>
			<tr>
				<td class="result">Eligible pet service: {{ the_num }}</td>
			</tr>
		</table>
		{% for row in data %}
		<table class = "showbox">
		  <tr>
			<td class="left" rowspan="4">
			<div class="image_not_found">
			<a href="/viewpetsitter/{{ row[2] }}">	
					<img src="/static/images/{{ row[0] }}a.jpg" width="200" height="200" onerror="this.style.display = 'none'" />		
			</a>
			</div>
			</td>
			<td class="petsittername">{{ row[2] }}</td>
			<td class="price" >€{{ row[10] }}/per night</td>
		  </tr>
		  <tr>
			<td class="location" colspan="2">Location: {{ row[8] }},{{ row[7] }},{{ row[6] }},{{ row[5] }}</td>
		  </tr>
		  <tr>
			<td class="description" colspan="2">Description: {{ row[9] }}</td>
		  </tr>
		  <tr>
			<td></td>
			<td class="button"><a href="/viewpetsitter/{{ row[2] }}"><button class="moredetails">More Details</button></a></td>
		  </tr>
		</table>
		<br><br>
		{% endfor %}
	{% endif %}
</div>
{% endblock the_result %}

{% endblock %}