{% extends "base.html" %}

{% block the_content %}
<script>
		//source: https://www.studentstutorial.com/jquery/onclick-checkbox-show-textbox.php
		$(document).ready(function(){
			$("input[type='checkbox']").change(function(){
				if($(this).val()=="other")
				{
					$("#other").show();
				}
				else
				{
					$("#other").hide(); 
				}
			});
		});
</script>
<form method="POST" action="/signuppetsitterform">
<div>
<table class="petsittersignupbox">
	<tr>
		<td class="petsittersignup_topic">
			<div class="topic_div">Sign up Pet sitter account</div>
		</td>
	</tr>
    <tr>
        <td class="petsittersignup_form">
		<label>Pet Sitter Name:</label><br>
		<input type="text" id="petsittername" name="petsittername" required><br>
		<br>
		<label>Contact email address:</label><br>
		<input type="text" id="email" name="email" required><br>
		<br>
		<label>Contact number:</label><br>
		<input type="text" id="phone" name="phone" required><br>
		<br>
		<label>Country:</label><br>
		<select name="country" id="country" required>
		<option value="ireland">Ireland</option>
		<option value="United Kingdom" disabled>United Kingdom</option>
		</select><br>
		<br>
		<label>City:</label><br>
		<input type="text" id="city" name="city" required><br>
		<br>
		<label>Town:</label><br>
		<input type="text" id="town" name="town" required><br>
		<br>
		<label>Street Address:</label><br>
		<input type="text" id="street" name="street" required><br>
		<br>
		<label>Description:</label><br>
		<textarea rows="4" cols="50" id="description" name="description" required></textarea><br>
		<br>
		<label>Price/per night (Euro):</label><br>
		<input type="number" id="price" name="price" min="0", max="999" required><br>
		<br>
		<label>Sevice you can provide:</label><br>
		<input type="checkbox" id="service1" name="service[]" value="accommodation" disabled checked>
		<label for="service1"> Pet accommodation</label><br>
		<input type="checkbox" id="service2" name="service[]" value="dogwalking">
		<label for="service2"> Dog walking</label><br>
		<input type="checkbox" id="service3" name="service[]" value="daycare">
		<label for="service3"> Pet daycare</label><br>
		<input type="checkbox" id="service4" name="service[]" value="delivery">
		<label for="service4"> Pet delivery</label><br>
		<br>
		<label>Number of pets that you can be watched at one time:</label><br>
		<select name="numofpet" id="numofpet" required>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		</select><br>
		<br>
		<label>Accepted Pet Types:</label><br>
		<input type="checkbox" id="type1" name="type[]" value="Dog">
		<label for="type1"> Dog</label><br>
		<input type="checkbox" id="type2" name="type[]" value="Cat">
		<label for="type2"> Cat</label><br>
		<input type="checkbox" id="type3" name="type[]" value="Rabbit">
		<label for="type3"> Rabbit</label><br>
		<input type="checkbox" id="type4" name="type[]" value="Guinea Pig">
		<label for="type4"> Guinea Pig</label><br>
		<input type="checkbox" id="type5" name="type[]" value="Ferret">
		<label for="type5"> Ferret</label><br>
		<input type="checkbox" id="type6" name="type[]" value="Bird">
		<label for="type6"> Bird</label><br>
		<input type="checkbox" id="type7" name="type[]" value="Reptile">
		<label for="type7"> Reptile</label><br>
		<input type="checkbox" id= "type8" value="other"><label for="type8"> Other </label>
		<input style="display:none;" type="text" name="type[]" id="other">
		<br><br>
		<label>Accepted Pet size:</label><br>
		<input type="checkbox" id="size1" name="size[]" value="1-5kg">
		<label for="size1"> 1-5kg</label><br>
		<input type="checkbox" id="size2" name="size[]" value="6-10kg">
		<label for="type2"> 6-10kg</label><br>
		<input type="checkbox" id="size3" name="size[]" value="11-20kg">
		<label for="type3"> 11-20kg</label><br>
		<input type="checkbox" id="size4" name="size[]" value="21-40kg">
		<label for="type4"> 21-40kg</label><br>
		<input type="checkbox" id="size5" name="size[]" value="41kg+">
		<label for="type5"> 41kg+</label><br>
		<br>
		<label>The Types of house:</label><br>
		<input type="radio" id="house1" name="house" value="apartment" checked>
		<label for="house1"> Apartment</label><br>
		<input type="radio" id="house2" name="house" value="detached">
		<label for="house2"> Detached house</label><br>
		<br>
		<label>Outdoor area size:</label><br>
		<input type="radio" id="outdoor1" name="outdoor" value="none" checked>
		<label for="outdoor1"> None</label><br>
		<input type="radio" id="outdoor2" name="outdoor" value="small">
		<label for="outdoor2"> Small</label><br>
		<input type="radio" id="outdoor3" name="outdoor" value="medium">
		<label for="outdoor3"> Medium</label><br>
		<input type="radio" id="outdoor4" name="outdoor" value="large">
		<label for="outdoor4"> Large</label><br>
		<br>
		<label>Emergency transport:</label><br>
		<input type="radio" id="transport1" name="transport" value="1">
		<label for="transport1"> Yes</label><br>
		<input type="radio" id="transport2" name="transport" value="0" checked>
		<label for="transport2"> No</label><br>
		<br>
		</td>
    </tr>
	<tr>
		<td class="petsittersignup_button">
		<input type="submit" value="Submit" class="petsittersignup_submit">
		</td>
	</tr>
</table>
</div>
</form>

{% endblock %}