{% extends "base.html" %}

{% block the_content %}
<form method="POST" action="/signupform">
<div>
<table>
    <tr>
        <td>
		<label>Your Email:</label><br>
		<input type="email" id="email" name="email" required><br>
		<label>repeat Email:</label><br>
		<input type="email" id="repeatemail" name="repeatemail" disabled><br>
		<label>set password:</label><br>
		<input type="password" id="password" name="password" required><br>
		<label>repeat password:</label><br>
		<input type="password" id="repeatpassword" name="repeatpassword" disabled><br><br>
		</td>
    </tr>
	<tr>
		<td>
		<label>First Name:</label><br>
		<input type="text" id="fname" name="fname" disabled><br>
		<br>
		<label>Surname:</label><br>
		<input type="text" id="sname" name="sname" disabled><br>
		<br>
		<label>Contact Number:</label><br>
		<input type="text" id="phone" name="phone" disabled><br>
		<br>
		<label>Address:</label><br>
		<input type="text" id="address" name="address" disabled><br>
		<br>
		</td>
	</tr>
	<tr>
		<td>
		<input type="submit" value="Submit">
		</td>
	</tr>
</table>
</div>
</form>
{% endblock %}