{% extends "base.html" %}

{% block the_content %}
<div>
<form action="/upload/{{ petsittername }}" enctype='multipart/form-data' method='POST'>
<table class="showbox">
	<tr>
		<td class="boxtopic">
			Upload Picture
		</td>
	</tr>
    <tr>
        <td class="upload_box">
		<label>Picture 1 : </label>
		<input type="file" name="file1"><br><br>
		<label>Picture 2 : </label>
		<input type="file" name="file2"><br><br>
		<label>Picture 3 : </label>
		<input type="file" name="file3"><br><br>
		<label>Picture 4 : </label>
		<input type="file" name="file4"><br><br>
		</td>
    </tr>
	<tr>
		<td class="viewpetbnbbutton">
		<input type="submit" value="Upload" class="signup_submit">
		</td>
	</tr>
</table>
</form>
</div>
{% endblock %}