{% extends "base.html" %}

{% block the_content %}
<div>

<table class="account_title">
	<tr>
		<td class="account_title_left">
			Your Account: {{ email }}
		</td>
		<td  class="account_title_right">
		{% if signed_petsitter_num > 0 %}
			<select id="accountpage" name="accountpage" onchange="location = this.value;">
			<option disabled selected>Pet sitter Account</option>
			{% for row in petsitter_data %}
			<option value="/viewpetsitteraccount/{{ row[1] }}">{{ row[1] }}</option>
			{% endfor %}
			</select>
		{% endif %}
		</td>
	</tr>
</table>

<table class="showbox">
  <tr >
	<td class="viewaccount_customer">
	Pet Service Name: {{ data[0][2] }}<br>
	Location: {{ data[0][8] }} {{ data[0][7] }} {{ data[0][6] }} {{ data[0][5] }}<br>
	Completed Booking: {{ completed_booking[0][0] }} <br>
	Pending Booking: {{ pending_booking[0][0] }} <br>
	Canceled Booking: {{ cancel_booking[0][0] }} <br>
	</td>
	<td class="viewaccount_customer_button">
	<a href="/editpetsitteraccount/{{ data[0][2] }}"><button class="moredetails">Modify</button></a>
	</td>
  </tr>
</table>
<br>
<br>


{% if booking_num > 0 %}

	<p>Your Booking Records:</p>
	{% for row in booking %}
	<table class="showbox">
	  <tr >
		<td class="viewaccount_booking" rowspan="2">
		Booking Ref: {{ row[1] }}<br>
		Customer: {{ row[5] }}, {{ row[6] }} {{ row[7] }}<br>
		Payment Method: {{ row[13] }} <br>
		Date period: {{ row[10] }} to {{ row[11] }}<br>
		Status: {{ row[4] }}
		</td>
		<td class="viewaccount_price">
		Total Price: €{{ row[12] }}<br>
		</td>
	  </tr>
	  <tr>
		<td class="viewaccount_button_space">
		<a href="/viewbooking/{{ row[1] }}"><button class="viewaccount_button">more details</button></a><br>
		</td>
	  </tr>
	</table>
	<br><br>
	{% endfor %}
	
{% endif %}


</div>
{% endblock %}